.charity {
  background-image: url(../../images/charity_background-small.svg);
  @include background-bottom;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 64px;
  text-align: center;
  width: 100%;

  &__title {
    color: $light-green;
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 30px;
  }
}

.charity-item {
  width: 95%;

  &_display-none {
    display: none;
  }

  &__img {
    width: 165px;
  }
}

.charity-block {
  &__subtitle {
    color: $light-green;
    font-size: 26px;
    font-weight: 50;
    padding: 16px;
  }

  &__description {
    color: $yellow;
    font-size: 16px;
    font-weight: 30;
    line-height: 1.3;
    margin: auto;
    padding-bottom: 16px;
    width: 80%;
  }

  &__button {
    background-color: transparent;
    border: 1px solid $yellow;
    border-radius: 6px;
    color: $yellow;
    cursor: pointer;
    font-size: 14px;
    font-weight: 50;
    padding: 12px 18px;
  }
}

@media (min-width: 768px) {
  .charity {
    background-image: url(../../images/charity_background.svg);
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .charity-item {
    &__img {
      width: 100px;
    }
  }

  .charity-block {
    &__subtitle {
      letter-spacing: -0.2px;
      padding-top: 10px;
    }

    &__title {
      font-size: 49px;
      letter-spacing: -1px;
      line-height: 50px;
      margin: auto;
      margin-bottom: 15px;
      width: 65%;
    }

    &__description {
      letter-spacing: -0.2px;
      max-width: 45%;
    }
  }
}

@media (min-width: 1024px) {
  .charity {
    &__title {
      margin: auto;
      padding-bottom: 30px;
      padding-top: 30px;
      width: 50%;
    }
  }

  .charity-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    row-gap: 40px;
    width: 90%;
  }

  .charity-item {
    align-items: start;
    column-gap: 40px;
    display: flex;

    &_display-none {
      display: flex;
    }
  }

  .charity-block {
    align-items: start;
    display: flex;
    flex-direction: column;

    &__description {
      max-width: 100%;
      text-align: start;
      width: 100%;
    }

    &__button {
      height: 40px;
      width: 110px;
    }

    &__subtitle {
      padding-bottom: 16px;
      padding: 0;
    }
  }
}

@media (min-width: 1280px) {
  .charity {
    padding-bottom: 75px;
    padding-top: 55px;

    &__title {
      font-size: 80px;
      line-height: 1;
      letter-spacing: -1.5px;
    }
  }

  .charity-list {
    column-gap: 80px;
    row-gap: 75px;
    width: 80%;
  }

  .charity-item {
    &__img {
      width: 120px;
    }
  }
}
