.cooking {
  background-color: rgb(250, 250, 250);
  height: 100%;
  margin-bottom: 50px;
  padding-top: 160px;
  width: 100%;
}

.cooking-item {
  cursor: pointer;
  display: none;
  transition: 0.4s;
  width: 100%;

  &:nth-of-type(1) {
    display: block;
  }
}

.cooking-title {
  @include flex-beetwen;
  margin: auto;
  text-align: end;
  width: 95%;
}

.cooking-content {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;

  &_img {
    background-image: url(../../images/jug.svg);
    @include background-center;
    height: 140px;
    width: 170px;
  }

  &__subtitle {
    color: $green;
    font-family: Chobani-Sans-Regular-bold;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
  }

  &__title {
    color: $green;
    font-family: Chobani-Serif-Regular;
    line-height: 50px;
    font-size: 50px;
    font-weight: 100;
    text-align: start;
  }

  &__subtitle {
    align-items: start;
  }
}

.cooking-dish {
  margin: auto;
  width: 95%;

  &__background {
    @include background-center;
    border-radius: 5px 5px 0 0;
    height: 421px;

    &_a {
      background-image: url(../../images/cooking_01.webp);
    }

    &_b {
      background-image: url(../../images/cooking_02.webp);
    }
    &_c {
      background-image: url(../../images/cooking_03.webp);
    }
    &_d {
      background-image: url(../../images/cooking_04.webp);
    }
  }
}

.cooking-block {
  background-color: $green;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: center;

  &__subtitle {
    color: $yellow;
    font-size: 12px;
    font-weight: 100;
  }

  &__title {
    color: $yellow;
    font-size: 24px;
    font-weight: 100;
  }
}

@media (min-width: 520px) {
  .cooking-dish {
    width: 90%;
  }

  .cooking-content {
    &__img {
      width: 140px;
    }
  }
}

@media (min-width: 768px) {
  .cooking-list {
    display: flex;
    margin: auto;
    width: 95%;
  }

  .cooking-item {
    &:nth-of-type(2) {
      display: block;
    }
  }
}

@media (min-width: 1280px) {
  .cooking-item {
    &:nth-of-type(3) {
      display: block;
    }

    &:hover {
      margin-top: -16px;
    }
  }
}

@media (min-width: 1480px) {
  .cooking {
    background-image: url(../../images/cooking_background.svg);
    background-repeat: no-repeat;
    background-position: 50px;
    background-position-x: right;
    background-position-y: 110px;
    background-size: auto 255px;
  }
  .cooking-content {
    padding-left: 2%;
    width: 50%;

    &__title {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -2px;
    }

    &__subtitle {
      font-size: 25px;
    }

    &_img {
      display: none;
    }
  }

  .cooking-item {
    &:nth-of-type(4) {
      display: block;
    }
  }
}
