@font-face {
  font-family: Chobani-Serif-Regular;
  src: url(./fonts/ChobaniSerif-Regular-Web.woff);
}

@font-face {
  font-family: Chobani-Sans-Regular;
  src: url(./fonts/Chobani-Sans-Standard-Regular.woff);
}

@font-face {
  font-family: Chobani-Sans-Regular-bold;
  src: url(./fonts/ChobaniSerif-Semibold-Web.woff);
}
